<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>JMK</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <%- include('header.html') -%>
        <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2><span>О</span> сервисе</h2>
            </div>
            <div class="row">
                <div class="col-md-6 px-0">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="images/about.jpg" alt="" />
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="detail-box">
                        <p>
                            Наш сервис занимается полным обслуживанием автомобилей. Мы используем только современное и проверенное оборудование и оперативно выполняем все поставленные задачи в заявленные сроки. У нас работают только проверенные мастера, с большим опытом работы с разными автомобилями. Мы гарантируем, что автомобиль после обслуживания будет работать надёжно. Мы хотим, чтобы вы и ваши близкие чувствовали себя в безопасности.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- info section -->
    <%- include('footer.html') -%>
    <!-- footer section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>